[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule ".git_extend/git-flow"]
	path = .git_extend/git-flow
	url = git://github.com/nvie/gitflow.git
[submodule ".bash_completion.d/git-flow-completion"]
	path = .bash_completion.d/git-flow-completion
    url = git://github.com/bobthecow/git-flow-completion.git
[submodule ".vim"]
	path = .vim
	url = git://github.com/d3m3vilurr/vimrc.git
[submodule "git-meld"]
	path = git-meld
	url = git://github.com/wmanley/git-meld.git
