[user]
	name = Lee, SungUk
	email = sulee@ea.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[core]
	editor = vi
