[user]
	name = Sunguk Lee
	email = d3m3vilurr@gmail.com
	signingkey = 307AC36D35FE50E5
[commit]
	gpgsign = true
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	cp = cherry-pick
	lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
	p4 = ~/bin/p4
	p4pull = p4 rebase
	p4push = p4 submit
	gdiff = "difftool -g -y -d"
	meld = "difftool -g -y -d"
	gmerge = "mergetool -t meld -y"
[core]
	editor = vi
[diff]
	compactionHeuristic = true
	guitool = meld
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
	#cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[github]
	user = d3m3vilurr
